{%extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
        <div class="container">

          <div class="row">
            <div class="col-md-5">
              <div class="card shadow-sm">
                   <img src="{{ object.preview|media_filter }}"  class="img-fluid" style="height: 400px; object-fit: cover;">
                <div class="card-body">
                  <p class="card-text">Дата: {{ object.created_at|date:"d.m.Y (H:i)" }}</p>
                  <p class="card-text">Автор поста: {{ object.author }}</p>
                  <p class="card-text">Заголовок: {{ object.title|upper }}</p>
                  <p class="card-text">Содержимое: {{ object.content }}</p>
                  <p class="card-text">Количество просмотров: {{ object.counter }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                         <a class="p-2 btn btn-outline-success" href="{% url 'blogs:blog_list' %}">Вернуться</a>
                    </div>
<!--                    <small class="text-body-secondary">{{ object.updated_at }}</small>-->
                  </div>
                </div>
              </div>
            </div>
<!--          </div>-->
   <div class="col-md-7">
     <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="text-start ps-0 mb-3">ТЕКУЩИЕ ЗАПИСИ БЛОГА </h4>
          <ul class="list-unstyled ms-4">
             {% for object in latest_objects %}
             <li class="d-flex align-items-center mb-2">
                <span class="bullet me-2">•</span>
                {{object.created_at|date:"d.m.Y (H:i)"}} - {{ object.title }} ({{ object.author }})
             </li>
            {% endfor %}
          </ul>
        </div>
     </div>
   </div>
  </div>
</div>
</div>
{% endblock %}