{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row text-start">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="card mb-4 box-shadow">
                        <h5 class="card-text">Действительно хотите удалить пост - "{{ object.title }}"?</h5>
                        <p>Автор: {{ object.author }}</p>
                        <p>Дата создания поста: {{ object.created_at|date:"d.m.Y" }})</p>
                        <p>Контент: {{ object.content|truncatechars:100 }}</p>
                        <img src="{{ object.preview|media_filter }}"  class="img-fluid mb-3 mt-3" style="height: 400px; object-fit: cover;">

                        <div class="card-body">
                            {% csrf_token %}
                            <div class="btn-group ">
                                    <button type="submit"a class="p-2 btn btn-danger">Удалить пост</button>
                                    <a class="p-2 btn btn-success" href="{% url 'blogs:blog_list' %}">Отменить</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}