{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for flower in flowers %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{ flower.image|media_filter }}"  class="img-fluid" style="height: 300px; object-fit: cover;">
                <div class="card-body">
                  <p class="card-text">
                    {{ flower.name|upper }}
                    <br>
                    <br>
                    {{flower.description|truncatechars:100}}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="p-2 btn btn-outline-success" href="{% url 'catalog:flower_detail' flower.pk %}">Посмотреть</a>
                    </div>
                    <small class="text-body-secondary">{{ flower.price }} руб.</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
</div>
{% endblock %}