{%extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
        <div class="container">

          <div class="row">
            <div class="col-md-6">
              <div class="card shadow-sm">
                   <img src="{{ flower.image|media_filter }}"  class="img-fluid" style="height: 400px; object-fit: cover;">
                <div class="card-body">
                  <p class="card-text">Название: {{ flower.name|upper }}</p>
                  <p class="card-text">Категория: {{ flower.category }}</p>
                  <p class="card-text">Описание: {{ flower.description }}</p>
                  <p class="card-text">Цена: {{ flower.price }} руб.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                         <a class="p-2 btn btn-outline-success" href="{% url 'catalog:base' %}">Вернуться</a>
                    </div>
                    <small class="text-body-secondary">{{ flower.updated_at }}</small>
                  </div>
                </div>
              </div>
            </div>
<!--          </div>-->
   <div class="col-md-6">
     <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="text-start ps-0 mb-3">НОВИНКИ </h4>
          <ul class="list-unstyled ms-4">
             {% for product in products %}
             <li class="d-flex align-items-center mb-2">
                <span class="bullet me-2">•</span>
                {{product.category}} - {{ product.name }} - {{ product.price }} руб.
             </li>
            {% endfor %}
          </ul>
        </div>
     </div>
   </div>
  </div>
</div>
</div>
{% endblock %}